name: Test and build go-lib

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test-lib:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.20"
          cache-dependency-path: go.sum

      - name: Build
        run: go build -v ./...
